---
layout: default
---

<div align="left" style="width: 180%;">
  
  <h2><strong>Abstract</h2>
  <body>
  It will be edited.
  </body>
  <br>  
  
  <h2><strong>Text-to-Speech Demo</h2>
  
  <body>
      Below, we provide TTS samples depending on the datasets and TTS scenarios. 
      <br>
      We also divide the scenarios depending on seen-to-seen (S2S) and unseen-to-unseen (U2U) speakers.
      <br>
    
      <ul>
          <li>1. Multi-speaker (VCTK) - Expressive TTS</li>
          <li>2. Emotional multi-speaker (ESD) - Expressive TTS</li>
          <li>3. Single speaker (LJSpeech) - General TTS</li>
          <li>4. Multi-speaker (VCTK) - General TTS</li>
          
        
      </ul>    
   
  <br>
  <h3><strong>1. Multi-speaker (VCTK) - Expressive TTS </h3>
  <hr>
  <h4><strong>1.1) Seen-to-Seen :</h4>
    
  <p><b>Text: </b><i>Hello, world!</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>This is a test sentence.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
    
  <br>
  
  <h4><strong>1.2) Unseen-to-Unseen :</h4>

  <p><b>Text: </b><i>This is a test sentence.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <br>

  <h3><strong>2. Emotional multi-speaker (ESD) - Expressive TTS </h3>
  <hr>
  <h4><strong>2.1) Seen-to-Seen :</h4>
    
  <p><b>Text: </b><i>Hello, world!</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>This is a test sentence.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
    
  <br>
  
  <h4><strong>2.2) Unseen-to-Unseen :</h4>

  <p><b>Text: </b><i>This is a test sentence.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
	  
  <br>

  <h3><strong>3. Single speaker (LJSpeech) - General TTS </h3>
  <hr>
	  
  <p><b>Text: </b><i>Hello, world!</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>This is a test sentence.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
    
  <br>

  <h3><strong>4. Multi-speaker (VCTK) - General TTS </h3>
  <hr>
	  
  <p><b>Text: </b><i>Hello, world!</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

  <p><b>Text: </b><i>This is a test sentence.</i></p>
  <table>
				<tbody>
				  <tr>
  					<th>GT</th>
  					<th>Reference</th>
  					<th>EX1</th>
  					<th>EX2</th>
  					<th>EX3</th>
            <th>EX4</th>
            <th>EX5</th>
				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX3/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX4/LJ018-0288.wav"></audio></td>
            <td><audio controls="" preload="none"><source src="wavs/EX5/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
    
  <br>
	  
  <br>
  Thanks for your interest!
  </body>
  
</div>
